# Build directories
**/bin/
**/obj/
**/bin\Debug/
**/bin\Release/
**/publish/

# Visual Studio / IDE
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

#Configs
*.env

# OS files
.DS_Store
Thumbs.db

# Runtime / temp
*.dll
*.pdb
*.deps.json
*.runtimeconfig.json
*.lock.json
*.staticwebassets.json

# NuGet packages
*.nupkg
packages/

# Test results
TestResults/
